.surpriseMe {
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
